body {
}

.header{
    background-color: black;
    color: white;
    font-size:xx-large;
}
.leftmeny{
    background-color: grey;
    width: 15%;
    font-size:large;
}
.footer{
    background-color: black;
}
.main{
    background-color: white;
    font-size:large;
}

